<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Atul Singh. It uses data mapbox.com and darksky.net!</p>
        <p>Display Weather Condition on search particular Area</p>
        <img class="portrait" src="/img/IMAG1944.jpg">
    </div>
    
    {{>footer}}
</body>

</html>